[defaults]
inventory       = inventory/hosts.ini
remote_user     = ec2-user
private_key_file = ~/.ssh/gitops-key.pem
host_key_checking = False
retry_files_enabled = False

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
pipelining = True